/*
* fd row|column
* jc space-between|space-evenly|flex-start
* ai center
* fw wrap
*/
flex(fd = row, jc = space-between, ai = center, fw = wrap)
  display: flex
  flex-direction: fd
  justify-content: jc
  align-items: ai
  flex-shrink: 0
  flex-wrap: wrap
border_bottom()
  border-bottom 1px solid #cccccc
@font-face{
  font-family: "pdrfont";
  src: url("~@styles/pdrfont.woff") format("woff");
}
.downicon
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #ccc;
  border-bottom: 0;
.h1
  margin 0
