#footer= 'Copyright © ' + date(Date.now(), 'YYYY') + ' '
  a(href=url_for('.'), rel='nofollow')= config.title + '.'
  |  
  a(rel='nofollow', target='_blank', href='https://beian.miit.gov.cn')  陕ICP备17013245号.
  |  
  a(rel='nofollow', target='_blank', href='https://beian.miit.gov.cn')  陕ICP备17013245号-2
  //- |  by
  //- a(rel='nofollow', target='_blank', href='https://github.com/pagecho')  Cho.
