.costume-code {
  color: #ff5d52;
  background-color: #fff3f0;
}
blockquote {
  margin: 0;
  padding: 0.5em 0.3em;
  padding-left: 1.5em;
  border-left: 2px solid #f22f27;
  position: relative;
  background-color: rgba(66, 185, 131, 0.1);
  > p {
    margin-bottom: 0 !important;
  }
  &:before {
    content: '“';
    display: block;
    position: absolute;
    font-size: 2em;
    color: #f22f27;
    top: 0;
    left: 0.3em;
    font-family: Arial, serif;
    margin-left: 0;
  }
}
.post {
  .post-content {
    // padding-top: 30px;
    h1,h2,h3,h4,h5,h6 {
      line-height: 1.3em;
      margin: 0.5em 0;
      border-bottom: none;
    }
    h2 {
      padding-left: 0.4em;
      border-left: 3px solid #f22f27;
    }
    h3:before {
      content: '';
      border-radius: 50%;
      background-color: #ff5d52;
      display: inline-block;
      width: 6px;
      height: 6px;
      vertical-align: middle;
      line-height: 1.43;
      margin-bottom: 0.18em;
      margin-right: 6px;
    }
    li {
      p {
        margin-bottom: 0.3em;
      }
    }
    p {
      code {
        @extend .costume-code;
      }
    }
    ul,ol {
      code {
        @extend .costume-code;
      }
    }
  }
}
